/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*.nav-pills {
  padding-top: 20px;
  padding-bottom: 10px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #e47911;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #2ecc71;
}

.nav a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 0 !important;
  margin-right: 15px;
}*/

.navbar {
  margin: 0;
}

.nav a {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #e47911;
  color: white;
}

.ptext {
  color: black;
  font-size: 18px;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.content {
    max-width: 450px;
}
.ts {
    margin-top: 35px;
}
.error {
    color: #c0392b;
}
.succeed {
    color: #2c3e50;
}
